.ace {
    width: calc(63% / 6);
    height: 160px;
    position: relative;
    margin-left: 10px;
    z-index: 9999;
    cursor: pointer;
    background: #00000010;
    padding: 2px;
}

.ace .card {
    width: 100%;
    top: 0 !important;
    position: absolute;
    z-index: 0;
}

.ace .card img{
    max-width: 100%;
}

.suite {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.suite img {
    width: 80%;
    opacity: .5;
    position: absolute;
}
